# Data files
data/raw/*.csv
data/processed/*.csv
data/interim/*.csv
!data/sample/*.csv

# Model files
models/*.pkl
models/*.joblib
monitoring_reports/
data/reference/
data/current/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
mlops_venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# MLflow
mlruns/